/******************************************************************
Site Name:
Author:

Stylesheet: Foundation Grid Stylesheet

******************************************************************/

.row {
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
  &::before {
    display: table;
    content: ' ';
  }
  &::after {
    display: table;
    content: ' ';
    clear: both;
  }
  &.collapse > {
    .column, .columns {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .row {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
    &.collapse {
      margin-right: 0;
      margin-left: 0;
    }
  }
  &.expanded {
    max-width: none;
    .row {
      margin-right: auto;
      margin-left: auto;
    }
  }
}

@media print, screen and (min-width: $tablet) {
  .row .row {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}

@media print, screen and (min-width: $desktop) {
  .row .row {
    margin-right: -0.9375rem;
    margin-left: -0.9375rem;
  }
}

.column, .columns {
  width: 100%;
  float: left;
  padding-right: 0.9375rem;
  padding-left: 0.9375rem;
}

.column:last-child:not(:first-child), .columns:last-child:not(:first-child) {
  float: right;
}

.column.end:last-child:last-child, .end.columns:last-child:last-child {
  float: left;
}

.column.row.row {
  float: none;
}

.row {
  &.row.columns {
    float: none;
  }
  .column.row.row, .row.row.columns {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }
}

.small-1 {
  width: 8.33333%;
}

.small-push-1 {
  position: relative;
  left: 8.33333%;
}

.small-pull-1 {
  position: relative;
  left: -8.33333%;
}

.small-offset-0 {
  margin-left: 0%;
}

.small-2 {
  width: 16.66667%;
}

.small-push-2 {
  position: relative;
  left: 16.66667%;
}

.small-pull-2 {
  position: relative;
  left: -16.66667%;
}

.small-offset-1 {
  margin-left: 8.33333%;
}

.small-3 {
  width: 25%;
}

.small-push-3 {
  position: relative;
  left: 25%;
}

.small-pull-3 {
  position: relative;
  left: -25%;
}

.small-offset-2 {
  margin-left: 16.66667%;
}

.small-4 {
  width: 33.33333%;
}

.small-push-4 {
  position: relative;
  left: 33.33333%;
}

.small-pull-4 {
  position: relative;
  left: -33.33333%;
}

.small-offset-3 {
  margin-left: 25%;
}

.small-5 {
  width: 41.66667%;
}

.small-push-5 {
  position: relative;
  left: 41.66667%;
}

.small-pull-5 {
  position: relative;
  left: -41.66667%;
}

.small-offset-4 {
  margin-left: 33.33333%;
}

.small-6 {
  width: 50%;
}

.small-push-6 {
  position: relative;
  left: 50%;
}

.small-pull-6 {
  position: relative;
  left: -50%;
}

.small-offset-5 {
  margin-left: 41.66667%;
}

.small-7 {
  width: 58.33333%;
}

.small-push-7 {
  position: relative;
  left: 58.33333%;
}

.small-pull-7 {
  position: relative;
  left: -58.33333%;
}

.small-offset-6 {
  margin-left: 50%;
}

.small-8 {
  width: 66.66667%;
}

.small-push-8 {
  position: relative;
  left: 66.66667%;
}

.small-pull-8 {
  position: relative;
  left: -66.66667%;
}

.small-offset-7 {
  margin-left: 58.33333%;
}

.small-9 {
  width: 75%;
}

.small-push-9 {
  position: relative;
  left: 75%;
}

.small-pull-9 {
  position: relative;
  left: -75%;
}

.small-offset-8 {
  margin-left: 66.66667%;
}

.small-10 {
  width: 83.33333%;
}

.small-push-10 {
  position: relative;
  left: 83.33333%;
}

.small-pull-10 {
  position: relative;
  left: -83.33333%;
}

.small-offset-9 {
  margin-left: 75%;
}

.small-11 {
  width: 91.66667%;
}

.small-push-11 {
  position: relative;
  left: 91.66667%;
}

.small-pull-11 {
  position: relative;
  left: -91.66667%;
}

.small-offset-10 {
  margin-left: 83.33333%;
}

.small-12 {
  width: 100%;
}

.small-offset-11 {
  margin-left: 91.66667%;
}

.small-up-1 > {
  .column, .columns {
    float: left;
    width: 100%;
  }
  .column:nth-of-type(1n), .columns:nth-of-type(1n) {
    clear: none;
  }
  .column:nth-of-type(1n+1), .columns:nth-of-type(1n+1) {
    clear: both;
  }
  .column:last-child, .columns:last-child {
    float: left;
  }
}

.small-up-2 > {
  .column, .columns {
    float: left;
    width: 50%;
  }
  .column:nth-of-type(1n), .columns:nth-of-type(1n) {
    clear: none;
  }
  .column:nth-of-type(2n+1), .columns:nth-of-type(2n+1) {
    clear: both;
  }
  .column:last-child, .columns:last-child {
    float: left;
  }
}

.small-up-3 > {
  .column, .columns {
    float: left;
    width: 33.33333%;
  }
  .column:nth-of-type(1n), .columns:nth-of-type(1n) {
    clear: none;
  }
  .column:nth-of-type(3n+1), .columns:nth-of-type(3n+1) {
    clear: both;
  }
  .column:last-child, .columns:last-child {
    float: left;
  }
}

.small-up-4 > {
  .column, .columns {
    float: left;
    width: 25%;
  }
  .column:nth-of-type(1n), .columns:nth-of-type(1n) {
    clear: none;
  }
  .column:nth-of-type(4n+1), .columns:nth-of-type(4n+1) {
    clear: both;
  }
  .column:last-child, .columns:last-child {
    float: left;
  }
}

.small-up-5 > {
  .column, .columns {
    float: left;
    width: 20%;
  }
  .column:nth-of-type(1n), .columns:nth-of-type(1n) {
    clear: none;
  }
  .column:nth-of-type(5n+1), .columns:nth-of-type(5n+1) {
    clear: both;
  }
  .column:last-child, .columns:last-child {
    float: left;
  }
}

.small-up-6 > {
  .column, .columns {
    float: left;
    width: 16.66667%;
  }
  .column:nth-of-type(1n), .columns:nth-of-type(1n) {
    clear: none;
  }
  .column:nth-of-type(6n+1), .columns:nth-of-type(6n+1) {
    clear: both;
  }
  .column:last-child, .columns:last-child {
    float: left;
  }
}

.small-up-7 > {
  .column, .columns {
    float: left;
    width: 14.28571%;
  }
  .column:nth-of-type(1n), .columns:nth-of-type(1n) {
    clear: none;
  }
  .column:nth-of-type(7n+1), .columns:nth-of-type(7n+1) {
    clear: both;
  }
  .column:last-child, .columns:last-child {
    float: left;
  }
}

.small-up-8 > {
  .column, .columns {
    float: left;
    width: 12.5%;
  }
  .column:nth-of-type(1n), .columns:nth-of-type(1n) {
    clear: none;
  }
  .column:nth-of-type(8n+1), .columns:nth-of-type(8n+1) {
    clear: both;
  }
  .column:last-child, .columns:last-child {
    float: left;
  }
}

.small-collapse {
  > {
    .column, .columns {
      padding-right: 0;
      padding-left: 0;
    }
  }
  .row {
    margin-right: 0;
    margin-left: 0;
  }
}

.expanded.row .small-collapse.row {
  margin-right: 0;
  margin-left: 0;
}

.small-uncollapse > {
  .column, .columns {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}

.small-centered {
  margin-right: auto;
  margin-left: auto;
  float: none;
  clear: both;
  &:last-child:not(:first-child) {
    float: none;
    clear: both;
  }
}

.small-uncentered, .small-push-0, .small-pull-0 {
  position: static;
  float: left;
  margin-right: 0;
  margin-left: 0;
}

@media print, screen and (min-width: $tablet) {
  .medium-1 {
    width: 8.33333%;
  }
  .medium-push-1 {
    position: relative;
    left: 8.33333%;
  }
  .medium-pull-1 {
    position: relative;
    left: -8.33333%;
  }
  .medium-offset-0 {
    margin-left: 0%;
  }
  .medium-2 {
    width: 16.66667%;
  }
  .medium-push-2 {
    position: relative;
    left: 16.66667%;
  }
  .medium-pull-2 {
    position: relative;
    left: -16.66667%;
  }
  .medium-offset-1 {
    margin-left: 8.33333%;
  }
  .medium-3 {
    width: 25%;
  }
  .medium-push-3 {
    position: relative;
    left: 25%;
  }
  .medium-pull-3 {
    position: relative;
    left: -25%;
  }
  .medium-offset-2 {
    margin-left: 16.66667%;
  }
  .medium-4 {
    width: 33.33333%;
  }
  .medium-push-4 {
    position: relative;
    left: 33.33333%;
  }
  .medium-pull-4 {
    position: relative;
    left: -33.33333%;
  }
  .medium-offset-3 {
    margin-left: 25%;
  }
  .medium-5 {
    width: 41.66667%;
  }
  .medium-push-5 {
    position: relative;
    left: 41.66667%;
  }
  .medium-pull-5 {
    position: relative;
    left: -41.66667%;
  }
  .medium-offset-4 {
    margin-left: 33.33333%;
  }
  .medium-6 {
    width: 50%;
  }
  .medium-push-6 {
    position: relative;
    left: 50%;
  }
  .medium-pull-6 {
    position: relative;
    left: -50%;
  }
  .medium-offset-5 {
    margin-left: 41.66667%;
  }
  .medium-7 {
    width: 58.33333%;
  }
  .medium-push-7 {
    position: relative;
    left: 58.33333%;
  }
  .medium-pull-7 {
    position: relative;
    left: -58.33333%;
  }
  .medium-offset-6 {
    margin-left: 50%;
  }
  .medium-8 {
    width: 66.66667%;
  }
  .medium-push-8 {
    position: relative;
    left: 66.66667%;
  }
  .medium-pull-8 {
    position: relative;
    left: -66.66667%;
  }
  .medium-offset-7 {
    margin-left: 58.33333%;
  }
  .medium-9 {
    width: 75%;
  }
  .medium-push-9 {
    position: relative;
    left: 75%;
  }
  .medium-pull-9 {
    position: relative;
    left: -75%;
  }
  .medium-offset-8 {
    margin-left: 66.66667%;
  }
  .medium-10 {
    width: 83.33333%;
  }
  .medium-push-10 {
    position: relative;
    left: 83.33333%;
  }
  .medium-pull-10 {
    position: relative;
    left: -83.33333%;
  }
  .medium-offset-9 {
    margin-left: 75%;
  }
  .medium-11 {
    width: 91.66667%;
  }
  .medium-push-11 {
    position: relative;
    left: 91.66667%;
  }
  .medium-pull-11 {
    position: relative;
    left: -91.66667%;
  }
  .medium-offset-10 {
    margin-left: 83.33333%;
  }
  .medium-12 {
    width: 100%;
  }
  .medium-offset-11 {
    margin-left: 91.66667%;
  }
  .medium-up-1 > {
    .column, .columns {
      float: left;
      width: 100%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(1n+1), .columns:nth-of-type(1n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .medium-up-2 > {
    .column, .columns {
      float: left;
      width: 50%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(2n+1), .columns:nth-of-type(2n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .medium-up-3 > {
    .column, .columns {
      float: left;
      width: 33.33333%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(3n+1), .columns:nth-of-type(3n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .medium-up-4 > {
    .column, .columns {
      float: left;
      width: 25%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(4n+1), .columns:nth-of-type(4n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .medium-up-5 > {
    .column, .columns {
      float: left;
      width: 20%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(5n+1), .columns:nth-of-type(5n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .medium-up-6 > {
    .column, .columns {
      float: left;
      width: 16.66667%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(6n+1), .columns:nth-of-type(6n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .medium-up-7 > {
    .column, .columns {
      float: left;
      width: 14.28571%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(7n+1), .columns:nth-of-type(7n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .medium-up-8 > {
    .column, .columns {
      float: left;
      width: 12.5%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(8n+1), .columns:nth-of-type(8n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .medium-collapse {
    > {
      .column, .columns {
        padding-right: 0;
        padding-left: 0;
      }
    }
    .row {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .expanded.row .medium-collapse.row {
    margin-right: 0;
    margin-left: 0;
  }
  .medium-uncollapse > {
    .column, .columns {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  .medium-centered {
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: both;
    &:last-child:not(:first-child) {
      float: none;
      clear: both;
    }
  }
  .medium-uncentered, .medium-push-0, .medium-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0;
  }
}

@media print, screen and (min-width: $desktop) {
  .large-1 {
    width: 8.33333%;
  }
  .large-push-1 {
    position: relative;
    left: 8.33333%;
  }
  .large-pull-1 {
    position: relative;
    left: -8.33333%;
  }
  .large-offset-0 {
    margin-left: 0%;
  }
  .large-2 {
    width: 16.66667%;
  }
  .large-push-2 {
    position: relative;
    left: 16.66667%;
  }
  .large-pull-2 {
    position: relative;
    left: -16.66667%;
  }
  .large-offset-1 {
    margin-left: 8.33333%;
  }
  .large-3 {
    width: 25%;
  }
  .large-push-3 {
    position: relative;
    left: 25%;
  }
  .large-pull-3 {
    position: relative;
    left: -25%;
  }
  .large-offset-2 {
    margin-left: 16.66667%;
  }
  .large-4 {
    width: 33.33333%;
  }
  .large-push-4 {
    position: relative;
    left: 33.33333%;
  }
  .large-pull-4 {
    position: relative;
    left: -33.33333%;
  }
  .large-offset-3 {
    margin-left: 25%;
  }
  .large-5 {
    width: 41.66667%;
  }
  .large-push-5 {
    position: relative;
    left: 41.66667%;
  }
  .large-pull-5 {
    position: relative;
    left: -41.66667%;
  }
  .large-offset-4 {
    margin-left: 33.33333%;
  }
  .large-6 {
    width: 50%;
  }
  .large-push-6 {
    position: relative;
    left: 50%;
  }
  .large-pull-6 {
    position: relative;
    left: -50%;
  }
  .large-offset-5 {
    margin-left: 41.66667%;
  }
  .large-7 {
    width: 58.33333%;
  }
  .large-push-7 {
    position: relative;
    left: 58.33333%;
  }
  .large-pull-7 {
    position: relative;
    left: -58.33333%;
  }
  .large-offset-6 {
    margin-left: 50%;
  }
  .large-8 {
    width: 66.66667%;
  }
  .large-push-8 {
    position: relative;
    left: 66.66667%;
  }
  .large-pull-8 {
    position: relative;
    left: -66.66667%;
  }
  .large-offset-7 {
    margin-left: 58.33333%;
  }
  .large-9 {
    width: 75%;
  }
  .large-push-9 {
    position: relative;
    left: 75%;
  }
  .large-pull-9 {
    position: relative;
    left: -75%;
  }
  .large-offset-8 {
    margin-left: 66.66667%;
  }
  .large-10 {
    width: 83.33333%;
  }
  .large-push-10 {
    position: relative;
    left: 83.33333%;
  }
  .large-pull-10 {
    position: relative;
    left: -83.33333%;
  }
  .large-offset-9 {
    margin-left: 75%;
  }
  .large-11 {
    width: 91.66667%;
  }
  .large-push-11 {
    position: relative;
    left: 91.66667%;
  }
  .large-pull-11 {
    position: relative;
    left: -91.66667%;
  }
  .large-offset-10 {
    margin-left: 83.33333%;
  }
  .large-12 {
    width: 100%;
  }
  .large-offset-11 {
    margin-left: 91.66667%;
  }
  .large-up-1 > {
    .column, .columns {
      float: left;
      width: 100%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(1n+1), .columns:nth-of-type(1n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .large-up-2 > {
    .column, .columns {
      float: left;
      width: 50%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(2n+1), .columns:nth-of-type(2n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .large-up-3 > {
    .column, .columns {
      float: left;
      width: 33.33333%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(3n+1), .columns:nth-of-type(3n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .large-up-4 > {
    .column, .columns {
      float: left;
      width: 25%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(4n+1), .columns:nth-of-type(4n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .large-up-5 > {
    .column, .columns {
      float: left;
      width: 20%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(5n+1), .columns:nth-of-type(5n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .large-up-6 > {
    .column, .columns {
      float: left;
      width: 16.66667%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(6n+1), .columns:nth-of-type(6n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .large-up-7 > {
    .column, .columns {
      float: left;
      width: 14.28571%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(7n+1), .columns:nth-of-type(7n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .large-up-8 > {
    .column, .columns {
      float: left;
      width: 12.5%;
    }
    .column:nth-of-type(1n), .columns:nth-of-type(1n) {
      clear: none;
    }
    .column:nth-of-type(8n+1), .columns:nth-of-type(8n+1) {
      clear: both;
    }
    .column:last-child, .columns:last-child {
      float: left;
    }
  }
  .large-collapse {
    > {
      .column, .columns {
        padding-right: 0;
        padding-left: 0;
      }
    }
    .row {
      margin-right: 0;
      margin-left: 0;
    }
  }
  .expanded.row .large-collapse.row {
    margin-right: 0;
    margin-left: 0;
  }
  .large-uncollapse > {
    .column, .columns {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem;
    }
  }
  .large-centered {
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: both;
    &:last-child:not(:first-child) {
      float: none;
      clear: both;
    }
  }
  .large-uncentered, .large-push-0, .large-pull-0 {
    position: static;
    float: left;
    margin-right: 0;
    margin-left: 0;
  }
}

.column-block {
  margin-bottom: 1.875rem;
  > :last-child {
    margin-bottom: 0;
  }
}