/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 65, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/* line 25, ../scss/breakpoints/_tweeners-up.scss */
.established-in {
  font-size: 27px;
  padding: 30px 10px;
}
/* line 28, ../scss/breakpoints/_tweeners-up.scss */
.established-in .bottom {
  font-size: 0.444em;
}

/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 40, ../scss/breakpoints/_tweeners-up.scss */
.menu {
  /* end .menu ul */
}
/* line 41, ../scss/breakpoints/_tweeners-up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 42, ../scss/breakpoints/_tweeners-up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 43, ../scss/breakpoints/_tweeners-up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 88, ../scss/breakpoints/_tweeners-up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 92, ../scss/breakpoints/_tweeners-up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 97, ../scss/breakpoints/_tweeners-up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 102, ../scss/breakpoints/_tweeners-up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/* line 20, ../scss/breakpoints/_tablet-up.scss */
h2.large-h2 {
  font-size: 2.7em;
}

/* line 26, ../scss/breakpoints/_tablet-up.scss */
.input-holder {
  text-align: right;
}

/* line 30, ../scss/breakpoints/_tablet-up.scss */
.cntc-btn {
  float: right;
  padding: 1.5em 4em;
  font-weight: bold;
}

/* line 36, ../scss/breakpoints/_tablet-up.scss */
.gmap-gmap {
  display: block;
  width: 50%;
}

/* line 41, ../scss/breakpoints/_tablet-up.scss */
.gmap-info {
  width: 50%;
}
/* line 43, ../scss/breakpoints/_tablet-up.scss */
.gmap-info .email-not-top {
  margin-left: 30px;
}
/* line 46, ../scss/breakpoints/_tablet-up.scss */
.gmap-info .addr {
  margin-left: 20px;
}

/* line 51, ../scss/breakpoints/_tablet-up.scss */
.single-testimonial-post {
  padding: 3em;
}
/* line 53, ../scss/breakpoints/_tablet-up.scss */
.single-testimonial-post::before, .single-testimonial-post::after {
  position: absolute;
  color: #fff;
  font-size: 40px;
  background-color: #20ACE0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  line-height: 1.8;
  top: 0;
  bottom: 0;
  margin: auto;
}
/* line 67, ../scss/breakpoints/_tablet-up.scss */
.single-testimonial-post::before {
  content: '\f10d';
  font-family: FontAwesome;
  left: 2.5rem;
}
/* line 72, ../scss/breakpoints/_tablet-up.scss */
.single-testimonial-post::after {
  content: '\f10e';
  font-family: FontAwesome;
  right: 2.5rem;
}

/* line 79, ../scss/breakpoints/_tablet-up.scss */
.post-card {
  max-width: 100%;
}

/* line 83, ../scss/breakpoints/_tablet-up.scss */
.medium-6 .work-card {
  height: 350px;
}

/* line 88, ../scss/breakpoints/_tablet-up.scss */
.large-4 .work-card .cta-strip-left {
  font-size: 0.9em;
  line-height: 1;
}
/* line 92, ../scss/breakpoints/_tablet-up.scss */
.large-4 .work-card .cta-strip h3 {
  margin-top: 9px;
}
/* line 95, ../scss/breakpoints/_tablet-up.scss */
.large-4 .work-card .cta-strip .btn-hollow-white-alt {
  font-size: 0.6em;
}

/* line 100, ../scss/breakpoints/_tablet-up.scss */
.job-elem {
  font-size: 0;
  min-height: 273px;
}

/* line 105, ../scss/breakpoints/_tablet-up.scss */
.job-card {
  text-align: left;
  margin-bottom: 1em;
}
/* line 108, ../scss/breakpoints/_tablet-up.scss */
.job-card .image-col {
  position: relative;
  overflow: visible;
  display: inline-block;
  width: 35%;
  min-height: 312px;
}
/* line 114, ../scss/breakpoints/_tablet-up.scss */
.job-card .image-col::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  top: 37px;
}
/* line 124, ../scss/breakpoints/_tablet-up.scss */
.job-card .btn-hollow-dynamic-alt {
  margin-right: 1em;
}

/* line 129, ../scss/breakpoints/_tablet-up.scss */
.job-details {
  padding: 0;
}

/* line 133, ../scss/breakpoints/_tablet-up.scss */
.job-details div {
  display: inline-block;
  margin-bottom: 0;
}

/* line 141, ../scss/breakpoints/_tablet-up.scss */
.job-card.norm .image-col::before {
  border-left: 20px solid #EBEFF1;
  right: -20px;
}

/* line 149, ../scss/breakpoints/_tablet-up.scss */
.job-card.mirror .content-col {
  text-align: right;
}
/* line 153, ../scss/breakpoints/_tablet-up.scss */
.job-card.mirror .image-col::before {
  border-right: 20px solid #EBEFF1;
  left: -20px;
}

/* line 160, ../scss/breakpoints/_tablet-up.scss */
.document-elem {
  font-size: 0;
  height: 22rem;
}

/* line 165, ../scss/breakpoints/_tablet-up.scss */
.lr {
  width: 65%;
  display: inline-block;
  vertical-align: middle;
  height: 100%;
  background-size: cover;
  background-position: center center;
  font-size: 1rem;
  padding: 2rem 2.5rem;
  background-color: #ebeff1;
}
/* line 175, ../scss/breakpoints/_tablet-up.scss */
.lr h3 {
  margin-top: 0;
  font-size: 2em;
}

/* line 182, ../scss/breakpoints/_tablet-up.scss */
.page-banner {
  font-size: 16px;
  padding: 7em 0;
  position: relative;
}

/* line 188, ../scss/breakpoints/_tablet-up.scss */
.breadcrumbs-bar {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  text-align: right;
  display: block;
}
/* line 195, ../scss/breakpoints/_tablet-up.scss */
.breadcrumbs-bar #breadcrumbs {
  margin: 0.5em 0;
  color: #fff;
}
/* line 198, ../scss/breakpoints/_tablet-up.scss */
.breadcrumbs-bar #breadcrumbs a {
  color: #fff;
  text-decoration: none;
}

/* line 206, ../scss/breakpoints/_tablet-up.scss */
.homebanner-slider .slick-dots {
  bottom: 15px;
}
/* line 208, ../scss/breakpoints/_tablet-up.scss */
.homebanner-slider .slick-dots li.slick-active button:before {
  color: #fff;
  opacity: 1;
}
/* line 212, ../scss/breakpoints/_tablet-up.scss */
.homebanner-slider .slick-dots li button:before {
  font-size: 16px;
  color: #fff;
  opacity: 0.6;
}

/* line 220, ../scss/breakpoints/_tablet-up.scss */
.single-homebanner {
  font-size: 22px;
}

/* line 227, ../scss/breakpoints/_tablet-up.scss */
.testimonial-slider .single-testimonial::before, .testimonial-slider .single-testimonial::after {
  font-size: 2.5rem;
}

/* line 238, ../scss/breakpoints/_tablet-up.scss */
.sticky-grid .wpb_wrapper,
.space-grid .wpb_wrapper {
  height: 100%;
}
/* line 241, ../scss/breakpoints/_tablet-up.scss */
.sticky-grid .wpb_wrapper > section,
.space-grid .wpb_wrapper > section {
  height: 100%;
}
/* line 243, ../scss/breakpoints/_tablet-up.scss */
.sticky-grid .wpb_wrapper > section > .cta-box, .sticky-grid .wpb_wrapper > section > .cta-box-a > .cta-box, .sticky-grid .wpb_wrapper > section > .cta-image, .sticky-grid .wpb_wrapper > section > .cta-icon-text,
.space-grid .wpb_wrapper > section > .cta-box,
.space-grid .wpb_wrapper > section > .cta-box-a > .cta-box,
.space-grid .wpb_wrapper > section > .cta-image,
.space-grid .wpb_wrapper > section > .cta-icon-text {
  height: 100%;
}

@supports (overflow: -webkit-marquee) and (justify-content: inherit) {
  /* line 256, ../scss/breakpoints/_tablet-up.scss */
  .sticky-grid,
  .space-grid {
    display: block !important;
    min-height: 400px !important;
  }
}
/* line 264, ../scss/breakpoints/_tablet-up.scss */
.cta-image {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 266, ../scss/breakpoints/_tablet-up.scss */
.cta-image:hover, .cta-image:focus {
  opacity: 0.8;
}

/* line 272, ../scss/breakpoints/_tablet-up.scss */
.cta-strip {
  position: absolute;
  bottom: 0;
  margin-top: 5em;
  padding: 1em 2em;
  text-align: initial;
}

/* line 280, ../scss/breakpoints/_tablet-up.scss */
.cta-strip-left {
  float: left;
}

/* line 284, ../scss/breakpoints/_tablet-up.scss */
.cta-strip-right {
  float: right;
  margin-top: 0;
}

/* line 289, ../scss/breakpoints/_tablet-up.scss */
.cta-box {
  font-size: 16px;
}
/* line 291, ../scss/breakpoints/_tablet-up.scss */
.cta-box.cta-icon-text-hover {
  font-size: 14px;
}

/* line 296, ../scss/breakpoints/_tablet-up.scss */
.established-in {
  font-size: 23px;
  padding: 11px 10px;
}

/* line 302, ../scss/breakpoints/_tablet-up.scss */
.big-and-small {
  padding: 81px 40px;
}
/* line 304, ../scss/breakpoints/_tablet-up.scss */
.big-and-small h2 {
  font-size: 2.3em;
}

/*********************
LAYOUT & GRID STYLES
*********************/
/* line 315, ../scss/breakpoints/_tablet-up.scss */
.wrap {
  width: 760px;
}

/*********************
HEADER STYLES
*********************/
/* line 323, ../scss/breakpoints/_tablet-up.scss */
.header {
  position: relative;
}

/* line 327, ../scss/breakpoints/_tablet-up.scss */
#mob-header {
  display: none;
}

/* line 331, ../scss/breakpoints/_tablet-up.scss */
#desk-header {
  display: block;
  padding: 0;
}

/* line 336, ../scss/breakpoints/_tablet-up.scss */
.logo {
  display: inline-block;
  vertical-align: middle;
}

/* line 341, ../scss/breakpoints/_tablet-up.scss */
.header-telephone {
  display: inline-block;
  vertical-align: middle;
  font-size: 15px;
  color: #9b9b9b;
}
/* line 346, ../scss/breakpoints/_tablet-up.scss */
.header-telephone .tel, .header-telephone .fa {
  font-weight: bold;
  color: #20ACE0;
  margin: 0 10px;
}

/* line 353, ../scss/breakpoints/_tablet-up.scss */
.top-row {
  display: block;
  padding: 0.75rem 0;
  background-color: #e6e6e6;
}
/* line 357, ../scss/breakpoints/_tablet-up.scss */
.top-row a, .top-row .fa {
  color: #9b9b9b;
  text-decoration: none;
}

/* line 363, ../scss/breakpoints/_tablet-up.scss */
.top-row-left {
  float: left;
}

/* line 367, ../scss/breakpoints/_tablet-up.scss */
.top-row-right {
  float: right;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 375, ../scss/breakpoints/_tablet-up.scss */
.burger-menu-holder {
  position: relative;
  margin-top: 19px;
}

/* line 380, ../scss/breakpoints/_tablet-up.scss */
#mainNavBurgerMenu {
  position: absolute;
  z-index: 1;
  display: inline-block;
  background-color: #373d43;
  width: 250px;
  left: -200px;
  top: 70px;
  text-align: right;
  padding: 10px 35px 10px 0;
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  -webkit-transition: all 0.3s cubic-bezier(0, 0, 0.28, 0.99);
  transition: all 0.3s cubic-bezier(0, 0, 0.28, 0.99);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: top;
  transform-origin: top;
}
/* line 397, ../scss/breakpoints/_tablet-up.scss */
#mainNavBurgerMenu li {
  -webkit-transition: all 0.3s cubic-bezier(0.02, 0.61, 0.6, 0.99);
  transition: all 0.3s cubic-bezier(0.02, 0.61, 0.6, 0.99);
  opacity: 0;
}

/* line 403, ../scss/breakpoints/_tablet-up.scss */
.burger-menu {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* line 411, ../scss/breakpoints/_tablet-up.scss */
.burger {
  position: absolute;
  background: #20ACE0;
  width: 80%;
  height: 5px;
  top: 50%;
  right: 0px;
  margin-top: -5px;
  opacity: 1;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
/* line 420, ../scss/breakpoints/_tablet-up.scss */
.burger::before {
  position: absolute;
  background: #20ACE0;
  width: 40px;
  height: 5px;
  top: 11px;
  content: "";
  display: block;
}
/* line 429, ../scss/breakpoints/_tablet-up.scss */
.burger::after {
  position: absolute;
  background: #20ACE0;
  width: 40px;
  height: 5px;
  bottom: 12px;
  content: "";
  display: block;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}
/* line 440, ../scss/breakpoints/_tablet-up.scss */
.burger::before {
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
}

/* line 448, ../scss/breakpoints/_tablet-up.scss */
.burger-menu {
  margin-left: auto;
  margin-right: auto;
}
/* line 449, ../scss/breakpoints/_tablet-up.scss */
.burger-menu.menu-on .burger {
  background: rgba(111, 111, 111, 0);
}
/* line 450, ../scss/breakpoints/_tablet-up.scss */
.burger-menu.menu-on .burger::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  bottom: 0px;
}
/* line 455, ../scss/breakpoints/_tablet-up.scss */
.burger-menu.menu-on .burger::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  top: 0px;
}
/* line 464, ../scss/breakpoints/_tablet-up.scss */
.burger-menu.menu-on + #mainNavBurgerMenu {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/* line 467, ../scss/breakpoints/_tablet-up.scss */
.burger-menu.menu-on + #mainNavBurgerMenu li {
  opacity: 1;
}

/* line 473, ../scss/breakpoints/_tablet-up.scss */
ul#menu-main-nav {
  text-align: right;
  padding: 20px 50px;
}

/* line 478, ../scss/breakpoints/_tablet-up.scss */
.nav {
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 480, ../scss/breakpoints/_tablet-up.scss */
.nav ul {
  background: #373d43;
  margin-top: 0;
}
/* line 484, ../scss/breakpoints/_tablet-up.scss */
.nav li {
  position: relative;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 487, ../scss/breakpoints/_tablet-up.scss */
.nav li a {
  border-bottom: 0;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 494, ../scss/breakpoints/_tablet-up.scss */
.nav li a:hover, .nav li a:focus {
  text-decoration: none;
  color: #20ACE0;
}
/* line 506, ../scss/breakpoints/_tablet-up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  visibility: hidden;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 515, ../scss/breakpoints/_tablet-up.scss */
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 517, ../scss/breakpoints/_tablet-up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
/* line 524, ../scss/breakpoints/_tablet-up.scss */
.nav li ul.sub-menu li a:hover, .nav li ul.sub-menu li a:focus,
.nav li ul.children li a:hover,
.nav li ul.children li a:focus {
  text-decoration: none;
  color: #20ACE0;
}
/* line 537, ../scss/breakpoints/_tablet-up.scss */
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 547, ../scss/breakpoints/_tablet-up.scss */
.nav li ul.sub-menu li ul,
.nav li ul.children li ul {
  top: 0;
  left: 100%;
}
/* line 562, ../scss/breakpoints/_tablet-up.scss */
.nav li:hover > ul {
  top: auto;
  visibility: visible;
}

/* end .nav */
/*********************
SIDEBARS & ASIDES
*********************/
/* line 584, ../scss/breakpoints/_tablet-up.scss */
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}

/* line 589, ../scss/breakpoints/_tablet-up.scss */
.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}
/* line 594, ../scss/breakpoints/_tablet-up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 602, ../scss/breakpoints/_tablet-up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* line 710, ../scss/breakpoints/_tablet-up.scss */
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/* line 725, ../scss/breakpoints/_tablet-up.scss */
.page-bottom {
  padding: 2em 0;
}
/* line 727, ../scss/breakpoints/_tablet-up.scss */
.page-bottom .logo {
  display: inline-block;
  margin-right: 2em;
}
/* line 731, ../scss/breakpoints/_tablet-up.scss */
.page-bottom .logo svg {
  width: 120px;
}
/* line 734, ../scss/breakpoints/_tablet-up.scss */
.page-bottom .contact-info {
  display: inline-block;
  vertical-align: middle;
  min-width: 530px;
}

/* line 741, ../scss/breakpoints/_tablet-up.scss */
.copyright {
  font-size: 16px;
}

/* line 745, ../scss/breakpoints/_tablet-up.scss */
.content-over-video {
  font-size: 100%;
}

/* line 749, ../scss/breakpoints/_tablet-up.scss */
.pull-up-for-video {
  margin-top: -14px;
}

/* line 753, ../scss/breakpoints/_tablet-up.scss */
.video-section:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: white;
  bottom: 10px;
  left: 0;
}

/* line 764, ../scss/breakpoints/_tablet-up.scss */
.rev-no-mb .wpb_revslider_element.wpb_content_element {
  margin-bottom: 0;
}

/* line 768, ../scss/breakpoints/_tablet-up.scss */
.tp-bgimg.defaultimg {
  z-index: -1 !important;
}

/* line 772, ../scss/breakpoints/_tablet-up.scss */
.fullcoveredvideo {
  z-index: 1 !important;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/* line 12, ../scss/breakpoints/_desktop-up.scss */
.wrap {
  width: 1040px;
}

/* line 16, ../scss/breakpoints/_desktop-up.scss */
.header-telephone {
  font-size: 20px;
}

/* line 20, ../scss/breakpoints/_desktop-up.scss */
.established-in {
  font-size: 36px;
  padding: 30px 10px;
  margin-top: -23px;
}

/* line 26, ../scss/breakpoints/_desktop-up.scss */
.work-card {
  overflow: hidden;
}
/* line 28, ../scss/breakpoints/_desktop-up.scss */
.work-card .cta-strip {
  height: 75px;
  -webkit-transform: translateY(75px);
  transform: translateY(75px);
  -webkit-transition: all 0.3s cubic-bezier(0.16, 0.64, 0.19, 0.96);
  transition: all 0.3s cubic-bezier(0.16, 0.64, 0.19, 0.96);
}
/* line 35, ../scss/breakpoints/_desktop-up.scss */
.work-card:hover .cta-strip {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* line 43, ../scss/breakpoints/_desktop-up.scss */
.testimonial-slider .single-testimonial::before, .testimonial-slider .single-testimonial::after {
  display: block;
  position: absolute;
  padding: 0;
}
/* line 49, ../scss/breakpoints/_desktop-up.scss */
.testimonial-slider .single-testimonial::before {
  left: 0.5rem;
  top: 0.5rem;
}

/* line 56, ../scss/breakpoints/_desktop-up.scss */
.single-testimonial-post {
  position: relative;
  width: 50%;
  -webkit-transition: all 0.3s cubic-bezier(0.16, 0.64, 0.19, 0.96);
  transition: all 0.3s cubic-bezier(0.16, 0.64, 0.19, 0.96);
  overflow: hidden;
}
/* line 61, ../scss/breakpoints/_desktop-up.scss */
.single-testimonial-post:nth-child(3n +1) {
  width: 100%;
}
/* line 64, ../scss/breakpoints/_desktop-up.scss */
.single-testimonial-post .entry-content {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.3s cubic-bezier(0.16, 0.64, 0.19, 0.96);
  transition: all 0.3s cubic-bezier(0.16, 0.64, 0.19, 0.96);
}
/* line 70, ../scss/breakpoints/_desktop-up.scss */
.single-testimonial-post .wp-post-image {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  -webkit-transition: all 0.3s cubic-bezier(0.16, 0.64, 0.19, 0.96);
  transition: all 0.3s cubic-bezier(0.16, 0.64, 0.19, 0.96);
}
/* line 79, ../scss/breakpoints/_desktop-up.scss */
.single-testimonial-post:hover {
  background-color: #ffffff !important;
}
/* line 81, ../scss/breakpoints/_desktop-up.scss */
.single-testimonial-post:hover .entry-content {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
  opacity: 1;
}
/* line 86, ../scss/breakpoints/_desktop-up.scss */
.single-testimonial-post:hover .wp-post-image {
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  opacity: 0;
}

/* line 95, ../scss/breakpoints/_desktop-up.scss */
.cta-box.cta-icon-text-hover {
  min-height: 320px;
  background-color: inherit !important;
}
/* line 98, ../scss/breakpoints/_desktop-up.scss */
.cta-box.cta-icon-text-hover .off-hover {
  display: block;
}
/* line 101, ../scss/breakpoints/_desktop-up.scss */
.cta-box.cta-icon-text-hover .on-hover {
  display: none;
}
/* line 105, ../scss/breakpoints/_desktop-up.scss */
.cta-box.cta-icon-text-hover:hover, .cta-box.cta-icon-text-hover:focus {
  background-color: #fff !important;
}
/* line 108, ../scss/breakpoints/_desktop-up.scss */
.cta-box.cta-icon-text-hover:hover .off-hover, .cta-box.cta-icon-text-hover:focus .off-hover {
  display: none;
}
/* line 111, ../scss/breakpoints/_desktop-up.scss */
.cta-box.cta-icon-text-hover:hover .on-hover, .cta-box.cta-icon-text-hover:focus .on-hover {
  display: block;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
