/******************************************************************
Site Name:
Author:

Stylesheet: Button Styles

Buttons are a pretty important part of your site's style, so it's
important to have a consistent baseline for them. Use this stylesheet
to create all kinds of buttons.

Helpful Links:
http://galp.in/blog/2011/08/02/the-ui-guide-part-1-buttons/

******************************************************************/

/*********************
BUTTON DEFAULTS
We're gonna use a placeholder selector here
so we can use common styles. We then use this
to load up the defaults in all our buttons.

Here's a quick video to show how it works:
http://www.youtube.com/watch?v=hwdVpKiJzac

*********************/

%btn {
  display: inline-block;
  position: relative;
  font-family: $sans-serif;
  text-decoration: none;
  color: $white;
  font-size: 0.9em;
  font-weight: normal;
  padding: 1em 2em;
  line-height: 1;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  text-transform: uppercase;
  @include transition(all 0.14s ease-in-out);

  // hovering on the btn
  &:hover, &:focus {
    color: $white;
    text-decoration: none;
    outline: none;
  } // end hover

  // clicking on the button
  &:active {
    top: 1px; // adds a tiny hop to the click
  } // end active

  &.extend {
    width: 100%;
  }

} // end .button

/*
An example button.
You can use this example if you want. Just replace all the variables
and it will create a button dependant on those variables.
*/
.blue-btn {
  @extend %btn; // here we load the btn defaults
  background-color: $blue;

  &:hover,
  &:focus {
    background-color: darken($blue, 4%);
  } // end hover

  &:active {
    background-color: darken($blue, 5%);
  } // end active

} // end blue button


.btn-hollow-white {
  @extend %btn;
  background-color: transparent;

  border: solid 3px $white;
  color: $white;

  &:hover,
  &:focus {
    background-color: $white;
    color: $black;
  }

  &:active {
    background-color: $white;
    color: $black;
  }
}

.btn-hollow-white-alt {
  @extend %btn;
  background-color: rgba(0, 0, 0, 0.5);

  border: solid 3px $white;
  color: $white;

  &:hover,
  &:focus {
    background-color: $white;
    color: $black!important;
  }

  &:active {
    background-color: $white;
    color: $black;
  }
}

.btn-hollow-black {
  @extend %btn;
  background-color: transparent;

  border: solid 3px $black;
  color: $black;

  &:hover,
  &:focus {
    background-color: $black;
    color: $white;
  }

  &:active {
    background-color: $black;
    color: $white;
  }
}

.btn-hollow-black-txt_white {
  @extend %btn;
  background-color: transparent;

  border: solid 3px $black;
  color: $white;

  &:hover,
  &:focus {
    background-color: $black;
    color: $white;
  }

  &:active {
    background-color: $black;
    color: $white;
  }
}

.btn-hollow-primary-txt_white {
  @extend %btn;
  background-color: transparent;

  border: solid 3px $primary-color;
  color: $white;

  &:hover,
  &:focus {
    background-color: $primary-color;
    color: $white;
  }

  &:active {
    background-color: $primary-color;
    color: $white;
  }
}

.btn-black {
  @extend %btn;
  background-color: $black;
  color: $white;

  &:hover,
  &:focus {
    background-color: $white;
    color: $black;
  }

  &:active {
    background-color: $white;
    color: $black;
  }
}

.btn-primary {
  @extend %btn;
  background-color: $primary-color;
  color: $white;

  &:hover,
  &:focus {
    background-color: $white;
    color: $black;
  }

  &:active {
    background-color: $white;
    color: $black;
  }
}

.btn-hollow-primary {
  @extend %btn;
  background-color: transparent;

  border: solid 3px $primary-color;
  color: $black;

  &:hover,
  &:focus {
    background-color: $primary-color;
    color: $white;
  }

  &:active {
    background-color: $primary-color;
    color: $white;
  }
}


.btn-hollow-dynamic {
  @extend %btn;
  background-color: transparent;

  border: solid 3px $white;
  color: $white;
  &:hover,
  &:focus {
    background-color: $primary-color;
    color: $white!important;
    border-color: $black!important;
  }
}

.btn-hollow-dynamic-alt {
  @extend %btn;
  background-color: transparent;

  border: solid 3px $black;
  color: $black;

  &:hover,
  &:focus {
    background-color: $black;
    color: $white;
  }

  &:active {
    background-color: $black;
    color: $white;
  }
}

.btn-dynamic {
  @extend %btn;
  background-color: $black;
  color: $white;
  border: solid 3px $black;
}