/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/


body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
	background-color: $white;
  	-webkit-font-smoothing: antialiased;
  	-moz-osx-font-smoothing: grayscale;
}

img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
}

.optin-holder {
    border: solid 3px #20ace0;
    padding: 10px;
}

ul.share-buttons {
    list-style-type: none;
}

ul.share-buttons li {
    display: inline-block;
    margin: 0 6px;
}

ul.share-buttons li a {
    color: #676767;
}

.nav li a:after {
    content: "\f054 ";
    font-family: "FontAwesome";
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    color: #20ace0;
}

h2.large-h2 {
    font-size: 1.7em;
    line-height: 1.2;
    font-weight: 100;
}

.gmap-info-holder {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 1em;
	&.manchester {
		.gmap-info {
			.fa {
			    color: $black;
			}
		}
	}
	&.glasgow {
		.gmap-info {
			.fa {
			    color: $primary-color;
			}
		}
	}
}

.gmap-gmap {
	display: none;
}

.gmap-info {
	width: 100%;
	color: $white;
    padding: 0 2em 1em 2em;
    font-size: 1.1em;
	a {
		color: $white;
		text-decoration: none;
	}
	.fa {
	    margin-right: 10px;
	}
	h3 {
		margin-bottom: 0;
	}
}


.post-thumb-holder {
	text-align: center;
}

.post-card {
	max-width: 300px;
	margin: 0 auto 1.3em auto;
	.post-content {
		padding: 0 1em;
		background-color: #f8f8f8;
	}
	.article-header {
		h3 {
			font-size: 1.5em;
			line-height: 1em;
			margin: 0.5em 0;
			a {
				color: $primary-color;
			}
		}
	}
	.article-footer {
		padding: 0 0.5em 0.5em 0.5em;
		.post-date {
			float: right;
			margin-top: 6px;
		}
	}
	&.featured {
		background-color: #F8F8F8;
		.post-content {
			padding: 0 1em 0 0;
			background-color: transparent;
		}
		.excerpt-read-more {
			color: $black;
		}
		.article-header {
			h3 {
				a {
					color: $primary-color;
				}
			}
		}
		.entry-content,
		.post-author a,
		.byline {
			color: $black;
		}
	}
	&.hentry header {
		padding: 0.5em 0 0 0;
	}
	.entry-content {
	    padding: 0.5em 0;
	}
}

.sidebar-menu {
	li a {
		text-decoration: none;
	}
}

	.sidebar-module {
	    margin: 1rem 0;
	    > a {
	    	text-decoration: none;
	    }
	    ul {
	    	list-style-type: none;
	    	padding-left: 15px;
	    }
	    .sidebar-module-heading {
    	    background-color: grey;
    	    color: $white;
    	    padding: 1em;
    	    font-weight: bold;
    	    font-size: 1em;
	    }
	    &.gulf-blue .sidebar-module-heading {
	    	background-color: #fe6868;
	    }
	    &.trinidad .sidebar-module-heading {
	    	background-color: $black;
	    }
	    &.jacksons-purple .sidebar-module-heading {
	    	background-color: #fe6868;
	    }
	}

.post-author {
	img {
		border-radius: 50%;
		margin-right: 5px;
		width: 40px;
		height: 40px;
		-o-object-fit: cover;
     object-fit: cover;
	}
	a {
		text-decoration: none;
		color: $meta-gray;
		&:hover,
		&:focus {
			color: $primary-color;
		}
	}
}

.flexy-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.testimonial-slider {
	h3 a {
		color: $white;
	}
}

.single-testimonial-post {
	position: relative;
	background-color: $primary-color;
	width: 100%;
	color: $white;
	text-align: center;
	.testimonial-content {
		color: #969595;
		max-width: 300px;
		margin: 0 auto;
	}
	.testimonial-desc {
		color: #969595;
	}
	&:nth-child(3n +1) {
		.testimonial-content {
			max-width: 80%;
		}
	}
	// &:nth-child(1) {
	// 	background-color: $white;
	// 	color: $text-color;
	// 	padding: 3em 8em;
	// 	.testimonial-name {
	// 		color: $primary-color;
	// 	}
	// }
	// &:nth-child(2n) {
	// 	background-color: #196276;
	// 	&:before {
	// 		position: relative;
	// 		display: block;
	// 		left: 0;
	// 		right: 0;
	// 		background-color: #23768d;
	// 	}
	// 	&:after {
	// 		display: none;
	// 	}
	// }
	// &:nth-child(3n) {
	// 	background-color: #4bb29e;
	// 	&:before {
	// 		position: relative;
	// 		display: block;
	// 		left: 0;
	// 		right: 0;
	// 		background-color: #73d2c0;
	// 	}
	// 	&:after {
	// 		display: none;
	// 	}
	// }
	// &:nth-child(4n) {
	// 	background-color: #79d3f5;
	// 	padding: 3em 8em;
	// 	.testimonial-name,
	// 	.testimonial-desc {
	// 		color: $black;
	// 	}
	// 	&:before {
	// 		position: absolute;
	// 		display: block;
	// 		left: 2.5rem;
	// 		right: auto;
	// 	}
	// 	&:after {
	// 		display: block;
	// 	}
	// }
	// &:nth-child(5n) {
	// 	background-color: #f8f8f8;
	// 	color: $text-color;
	// 	.testimonial-name {
	// 		color: $primary-color;
	// 	}
	// 	&:before {
	// 		position: relative;
	// 		display: block;
	// 		left: 0;
	// 		right: 0;
	// 		background-color: #e3e3e3;
	// 	}
	// 	&:after {
	// 		display: none;
	// 	}
	// }
	// &:nth-child(6n) {
	// 	background-color: #fe6868;
	// 	&:before {
	// 		position: relative;
	// 		display: block;
	// 		left: 0;
	// 		right: 0;
	// 		background-color: #dc4f4f;
	// 	}
	// 	&:after {
	// 		display: none;
	// 	}
	// }
	.hentry {
		margin-bottom: 0;
	}
}

.thin-col {
    max-width: 600px;
    margin: 0 auto;
}

.breadcrumbs-bar {
	display: none;
}

.single-homebanner {
	background-color: #79D3F5;
	background-size: cover;
	background-position: center center;
	padding: 4em 0;
	text-align: center;
	font-size: 9px;
	&.hentry {
		margin-bottom: 0;
	}
	h2 {
	    font-size: 2em;
	    line-height: 1;
	    color: #ffffff;
	    max-width: 900px;
	    margin: 0 auto 1em auto;
	    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
	}
}

.homebanner-slider {
	.homebanner-slick {
		margin-bottom: 0;
	}
}

.slick-slider {
	overflow: hidden;
}

.slick-slide {
	&:focus {
		outline: none;
	}
}

.testimonial-slider {
	background-color: $primary-color;
	color: $white;
	text-align: center;
	padding: 1em 0;
	h3 {
		font-size: 1.4em;
		font-weight: bold;
	}
	.single-testimonial {
		position: relative;
		&::before,
		&::after {
			position: absolute;
			color: $primary-color;
			font-size: 1.5rem;
			background-color: white;
			width: 70px;
			height: 70px;
			border-radius: 50%;
			line-height: 1.8;
		}
		&::before {
			content: '\f10d';
			font-family: FontAwesome;
			position: relative;
			padding: 10px;
		}
		&::after {
			content: '\f10e';
			font-family: FontAwesome;
			right: 0.5rem;
			top: 0.5rem;
			display: none;
		}
	}
	.testimonial-content {
		max-width: 800px;
		margin: 0 auto;
		p {
			margin-bottom: 1rem;
			font-size: 1.2em;
		}
	}
	.testimonial-person {
		color: #373737;
	}
	.testimonial-name {
		font-size: 1em;
	}
	.testimonial-desc {
		font-size: 0.8em;
	}
}

.lr {
	padding: 1rem;
	h3 {
		font-weight: bold;
	}
}

.job-card {
	text-align: center;
	&:nth-child(2n + 1) {
		background-color: #f8f8f8;
	}
	.image-col {
		display: none;
	}
	h3 {
		color: $black;
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 1.4em;
	}
	.btn-hollow-dynamic-alt {
		margin-bottom: 1em;
	}
}

.job-details {
    padding: 20px 10px 0 10px
}

.job-details div {
    display: inline-block;
    vertical-align: top;
    margin-right: 1.5em;
    margin-bottom: 1em;
    color: $black;
    span {
    	font-size: 1.2em;
    }
    .fa {
    	background-color: white;
    	height: 26px;
	    width: 26px;
	    text-align: center;
	    padding-top: 6px;
	    border-radius: 50%;
    	color: #ffffff;
    }
}

.job-header {
	text-align: center;
	padding: 1.5em;
	background-color: $black;
	color: $white;
}

.share-col {
	text-align: center;
}

.single-job {
	.job-details {
		text-align: center;
		padding: 1em;
		background-color: #f4f4f4;
	}
}


// grid elements

#sticky-boxes-inner-content {
	.hentry {
		margin: 0;
	}
}

.sticky-grid {
	.vc_column_container>.vc_column-inner {
		padding: 0;
	}
}

.space-grid .wpb_wrapper {
    margin-bottom: 15px;
}

.cta-strip {
	position: relative;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	color: #fff;
    padding: 2em 2em;
    font-size: 14px;
    text-align: center;
    background-size: cover;
    background-position: center center;
	h3, p {
		margin: 0;
	}
	h3 {
		text-transform: uppercase;
	}
	p {
		font-size: 1.325em;
	}
}

.cta-strip-right {
	margin-top: 10px;
}

.cta-box-a {
	text-decoration: none;
}

.cta-box {
	text-align: center;
	padding: 4em 1em;
    font-size: 14px;
    background-size: cover;
    background-position: center center;
    // display: -ms-grid;
    // display: grid;
    // -ms-grid-row-align: center;
    //     align-items: center;
    // -webkit-box-pack: center;
    //     -ms-flex-pack: center;
    //         justify-content: center;
     &.link {
            -webkit-box-shadow: inset 0px 0px 72px -8px rgba(0,0,0,0);
            -moz-box-shadow: inset 0px 0px 72px -8px rgba(0,0,0,0);
            box-shadow: inset 0px 0px 72px -8px rgba(0,0,0,0);
      transition: all 0.3s cubic-bezier(.25,.8,.25,1);
      &:hover {
      	-webkit-box-shadow: inset 0px 0px 72px -8px rgba(0,0,0,0.5);
      	-moz-box-shadow: inset 0px 0px 72px -8px rgba(0,0,0,0.5);
      	box-shadow: inset 0px 0px 72px -8px rgba(0,0,0,0.5);
      }
  }
    h3 {
    	color: #ffffff;
    	font-size: 2.5em;
    	font-weight: 500;
    	margin-top: 0.3em;
    }
    .btn {
    	border-color: #ffffff;
    	padding: 5px 35px;
    }
    img {
    	margin: 0 auto;
    }
    &.cta-icon-text-hover {
		border: solid 5px;
		padding: 2em 1em;
		font-size: 14px;
		background-color: $white!important;
		margin-bottom: 1em;
		.off-hover {
			display: none;
		}
		.on-hover {
			display: block;
		}
	}


}

.cta-icon-text {
	text-align: center;
	padding: 2em 1em;
    font-size: 14px;
    background-size: cover;
    background-position: center center;
    border: solid 4px transparent;
    display: -ms-grid;
    display: grid;
    -ms-grid-row-align: center;
        align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    h3 {
    	font-size: 2.5em;
    	font-weight: 500;
    	margin-top: 0.3em;
    }
	.fa {
		font-size: 2em;
	}
	img {
		margin: 0 auto;
	}
	ul {
		font-size: 1.2em;
	}
}

.cta-image {
	position: relative;
    background-size: cover;
    background-position: center center;
    a {
    	display: block;
    	width: 100%;
    	height: 100%;
		min-height: inherit;
		position: relative;
		z-index: 1;
	}
	&.hover-active {
		> .on-hover {
			display: -webkit-box;
			display: -ms-flexbox;
			display: -webkit-flex;
			display: flex;
			-webkit-box-pack: center;
			-ms-flex-pack: center;
				justify-content: center;
					-webkit-box-align: center;
						-ms-flex-align: center;
								-ms-grid-row-align: center;
							align-items: center;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			opacity: 0;
			text-align: center;
			line-height: 1.3;
			padding: 1em;
			// p {
			// 	margin: auto;
			// }
		}
	}
	&.hover-active:hover {
		opacity: 1;
	}
	&.hover-active:hover > .on-hover {
		opacity: 1;
		background-color: rgba(0, 0, 0, 0.733);
	}
}

.cta-video {
	@extend .cta-image;
}

p.hover-top-text {
    width: 100%;
    position: absolute;
	top: 10px;
	font-weight: bold;
}

.page-banner {
    text-align: center;
    padding: 1em 0;
    font-size: 10px;
    background-size: cover;
    background-position: center center;
   	.page-banner-heading {
    	color: $white;
    	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    	strong {
    		color: $primary-color;
    	}
    }
}

.established-in {
	font-size: 15px;
    background-color: #f8f8f8;
    padding: 20px 10px;
	.top {
		font-size: 1em;
		color: #707070;
		margin-bottom: 10px;
		font-weight: bold;
	}
	.middle {
		font-size: 7.361em;
		color: #e1443b;
		line-height: 0.7;
		font-weight: 100;
	}
	.bottom {
		margin-top: 20px;
		font-size: 0.844em;
	}
}

.big-and-small {
	color: $white;
 	padding: 20px 23px;
	background-color: #373d43;
	h2 {
		margin-top: 0;
	}
}

.type-work.single a {
    color: $white;
}

.work-card {
	position: relative;
    width: 100%;
    height: 290px;
    background-size: cover;
    background-position: center center;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 96%;
	margin: 0 auto;
}

#mob-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	> div {
		width: 33.3%;
	}
	.contact-info a {
	    font-size: 20px;
	    margin: 0 10px;
	}
}

#desk-header {
	display: none;
}

/*********************
LINK STYLES
*********************/

a {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {
	font-size: 2.5em;
	line-height: 1.333em;
}

h2, .h2 {
	font-size: 1.75em;
	line-height: 1.4em;
	margin-bottom: 0.375em;
}

h3, .h3 {
	font-size: 1.125em;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $white;
	position: sticky;
	top: 0;
	z-index: 999;
}

.logo {
	text-decoration: none;
	svg {
		width: 80px;
		fill: $primary-color;
	}
}

.top-row {
	display: none;
}

/*********************
NAVIGATION STYLES
*********************/


.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			text-decoration: none;
			padding: 0.75em;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 1.5em;
}

		.hentry {
			margin-bottom: 1.5em;

			header {
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {
			margin: 0;
		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 1.5em 1.5em 0;

			p {
				margin: 0 0 1.5em;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				// margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: right;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $text-color;

      &:hover, &:focus {
      	color: $black;
      }
    }

    .current{
    	cursor: default;
    	color: #ffffff;
    	background: $black;
    	border-radius: 50%;
    	height: 30px;
    	width: 30px;
    	padding: 9px;
    	text-align: center;
    	margin-top: 4px;

    	&:hover, &:focus {
    		background-color: $gray;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}


/*********************
SINGULAR ELEMENT STYLES
*********************/

.social-links {
	a {
		margin: 0 0.25rem;
	}
}

.contact-info {
	margin: 0 0.5rem;
}

/*********************
FOOTER STYLES
*********************/

.page-bottom {
	padding-top:10px;
	.contact-info {
		.contact-line {
			margin-bottom: 7px;
			color: #acacac;
			a {
				color: #acacac;
				text-decoration: none;
			}
			.fa {
				color: $primary-color;
				margin-right: 5px;
			}
		}
	}

	.logo {
		display: none;
	}
}

.footer {
	clear: both;
	background-color: $white;
	color: #9b9b9b;
	border-top: solid 1px #dddddd;
	.social-links {
		margin-top: 15px;
		display: block;

		text-align: center;
		margin-bottom: 10px;
		a {
			color: #acacac;
		}
	}
}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */


	.copyright {
		font-size: 10px;
		a {
			color: #acacac;
		}
	}






.white-popup {
	position: relative;
	background: $white;
	padding: 20px;
	width: auto;
	max-width: 800px;
	margin: 20px auto;
}

.post-popup .video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.post-popup .video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.single-homebanner.video-banner {
	padding: 1.5em 0;
}

.single-homebanner.full-video-banner {
	padding: 0;
	background-color: transparent;
}

#bgvid {
	width: 100%;
}

.video-section {
	position: relative;
}

.content-over-video {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 7px;
	padding: 0 1rem;
	height: 100%;
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-pack: center;
	    -ms-flex-pack: center;
	    justify-content: center;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    align-items: center;
}