/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

.header-telephone {
	font-size: 20px;
}

.established-in {
	font-size: 36px;
	padding: 30px 10px;
	margin-top: -23px;
}

.work-card {
	overflow: hidden;
	.cta-strip {
    	height: 75px;
    	-webkit-transform: translateY(75px);
    	        transform: translateY(75px);
    	@include transition(all 0.3s cubic-bezier(0.16, 0.64, 0.19, 0.96));
	}
	&:hover {
		.cta-strip {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
		}
	}
}
.testimonial-slider {
	.single-testimonial {
		&::before,
		&::after {
			display: block;
			position: absolute;
			padding: 0;
		}
		&::before {
			left: 0.5rem;
			top: 0.5rem;
		}
	}
}

.single-testimonial-post {
	position: relative;
	width: 50%;
	@include transition(all 0.3s cubic-bezier(0.16, 0.64, 0.19, 0.96));
	overflow: hidden;
	&:nth-child(3n +1) {
		width: 100%;
	}
	.entry-content {
		opacity: 0;
		-webkit-transform: translateY(50px);
        transform: translateY(50px);
		@include transition(all 0.3s cubic-bezier(0.16, 0.64, 0.19, 0.96));
	}
	.wp-post-image {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		@include transition(all 0.3s cubic-bezier(0.16, 0.64, 0.19, 0.96));
	}
	&:hover {
		background-color: #ffffff!important;
		.entry-content {
			-webkit-transform: translateY(0px);
        	transform: translateY(0px);
			opacity: 1;
		}
		.wp-post-image {
			-webkit-transform: translateY(-50px);
        	transform: translateY(-50px);
			opacity: 0;
		}
	}
}

.cta-box {
	&.cta-icon-text-hover {
		min-height: 320px;
		background-color: inherit!important;
		.off-hover {
			display: block;
		}
		.on-hover {
			display: none;
		}

		&:hover,
		&:focus {
			background-color: $white!important;
			.off-hover {
				display: none;
			}
			.on-hover {
				display: block;
			}
		}
	}
}